`
    <html>
      <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
      </head>
      <body>
        <section>
          <h2>My Course Goal</h2>
          <h3>{{ goal }}</h3>
        </section>
        <form action="/store-goal" method="POST">
          <div class="form-control">
            <label>Course Goal</label>
            <input type="text" name="goal">
          </div>
          <button>Set Course Goal</button>
        </form>
      </body>
    </html>
  `